#slider-js-container
  #slider-js
    %h1
      Slider Controls
    #speed-controls
      #vslider-container
        %h2 Forward
        %input#speed{type: "range",  min: "-100",  max: "100"}
          %h2 Reverse
      %h1
        = link_to "Switch to Joystick",crawler_index_path
    #steering-controls
      %h2.left &lt;&lt; Turn Left
      %h2.right Turn Right &gt;&gt;
      %input#steering{type: "range",  min: "-100",  max: "100"}



= javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"
