#slider-js-container
  #slider-js
    %h1.text-center.top
      Slider Controls
    #speed-controls
      #vslider-container
        %h3 Forward
        %input#speed{type: "range",  min: "-100",  max: "100"}
          %h3 Reverse
      %h2.center
        = link_to "Switch to Joystick",crawler_index_path
    #steering-controls
      %h4.left &lt;&lt; Turn Left
      %h4.right Turn Right &gt;&gt;
      %input#steering{type: "range",  min: "-100",  max: "100"}



= javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"
