<h1>Crawler#turn</h1>
<% if @direction %>
<h2>Direction is set to <%= @direction %></h2>
<% else %>
<h2>No direction set please try again with direction = left or right </h2>
<% end %>

<% if @position %>
<h2>Position is set to <%= @position %></h2>
<% else %>
<h2>No position set please try again with 0 <= position <= 1 </h2>
<% end %>
<h2><%= @message %></h2>
